@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import "bourbon/bourbon";
@import "partials/reset";

html {
    height:100%;
}

body {
    text-align:center;
    font-family: "Roboto", Arial, sans-serif;
    display:table;
    width:100%;
    height:100%;
}

.container {
    display:table-cell;
    width:100%;
    vertical-align:middle;
}

.scrambled-word {
    font-size: em(48);
    font-weight: bold;
    margin-bottom:40px;
    .character {
        display:inline-block;
        width: 80px;
        line-height: 80px;
        height: 80px;
        border: 4px solid black;
        margin: 0 2px;
    }
}

.user-input {
    font-size:em(36);
    height:50px;
}
